* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.brand {
  flex-grow: 1;
}

.home-button,
.search-button,
.account-button,
.basket-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
}

input {
  padding: 8px;
  margin-right: 5px;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.menu-button,
.category-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1;
}

.dropdown-menu button {
  display: block;
  background-color: transparent;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 5px 0;
  cursor: pointer;
}

/* Add any other styles as needed */

